@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Проект по предмету "Управление данными"</h1>
    <p class="lead">Проект разработан с помощью технологии ASP.NET</p>
</div>


<div>
</div>
